:root {
	--first: #9c27b0;
	--knight-first: #89119d;
	--second: #ffce00;
	--knight-second: rgb(233, 187, 2);
	--white: #fff;
	--black: #000;

	--first-font: 'Staatliches', cursive;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Global */
body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: var(--first);
}
p {
	font-size: 1.8rem;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--white);
}
a {
	text-decoration: none;
}
img {
	width: 100%;
}
.container {
	max-width: 120rem;
	margin: 0 auto;
}

h1,
h2,
h3 {
	text-align: center;
	color: var(--second);
	font-family: var(--first-font);
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3.2rem;
}
h3 {
	font-size: 2.4rem;
}

/* header */
.header {
	display: flex;
	justify-content: center;
}
.header__logo {
	margin: 3rem 0;
}

/* navbar */
.navbar {
	background-color: var(--knight-first);
	padding: 1rem;
	display: flex;
	justify-content: center;
	/*gap: 2rem;  forma nueva de separar elementos con flexbox, no lo soportan muchos navegadores aun */
}
.navbar__link {
	font-family: var(--first-font);
	color: var(--white);
	font-size: 3rem;
	transition: color linear 0.1s;
	margin-right: 2rem;
}
.navbar__link:last-of-type {
	margin-right: 0;
}
.navbar__link:hover,
.navbar__link--active {
	color: var(--second);
}

/* footer */
.footer {
	background-color: var(--knight-first);
	padding: 1rem 0;
	margin-top: 2rem;
}
.footer__text {
	font-family: var(--first-font);
	text-align: center;
	font-size: 2.2rem;
}

/* grid */
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
}
@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* products */
.product {
	background-color: var(--knight-first);
	padding: 1rem;
}

.product__name {
	font-size: 4rem;
}
.product__price {
	font-size: 2.8rem;
	color: var(--second);
}
.product__name,
.product__price {
	font-family: var(--first-font);
	margin: 1rem 0;
	text-align: center;
	line-height: 1.2;
}

/* graphics */

.graphic {
	min-height: 30rem;
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1/3;
}
.graphic__tshirt {
	grid-row: 2/3;
	background-image: url(../img/grafico1.jpg);
}
.graphic__node {
	background-image: url(../img/grafico2.jpg);
	grid-row: 8/9;
}
@media (min-width: 768px) {
	.graphic__node {
		grid-row: 5/6;
		grid-column: 2/4;
	}
}

/* us */

.us {
	display: grid;
	grid-template-rows: repeat(2, auto);
	padding: 1rem;
}
@media (min-width: 768px) {
	.us {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}
}
.us__img {
	grid-row: 1/2;
}
@media (min-width: 768px) {
	.us__img {
		grid-column: 2/3;
	}
}

/* blocks */

.blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
}
@media (min-width: 768px) {
	.blocks {
		grid-template-columns: repeat(4, 1fr);
	}
}
.block {
	text-align: center;
}
.block__title {
	margin: 0;
}

/* page product */
@media (min-width: 768px) {
	.tshirt {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}
}
.tshirt__contain {
	padding: 2rem;
}
.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
}
.form__area {
	border: 1rem solid var(--knight-first);
	background-color: transparent;
	color: var(--white);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	padding: 1rem;
	appearance: none;
	width: 100%;
}
.form__area::placeholder {
	color: var(--white);
}
.form__area option {
	appearance: none;
	color: var(--black);
}
.form__submit {
	background-color: var(--second);
	border: none;
	font-size: 2rem;
	font-family: var(--first-font);
	padding: 2rem;
	cursor: pointer;
	transition: background-color linear 0.2s;
	grid-column: 1/3;
}
.form__submit:hover {
	background-color: var(--knight-second);
}
